{% load static %}
{% load i18n %}
{% load custom_template_tags %}

<!DOCTYPE html>
<html lang="de">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1" />
    <!-- icon for website as iOS home screen pseudo app, verify rel and href -->
    <link rel="apple-touch-icon"
          sizes="180x180"
          href="{% static 'assets/favicon/apple-touch-icon.png' %}" />
    <!-- favicon: icon for example used for browser tab, verify href -->
    <link rel="icon"
          type="image/png"
          sizes="32x32"
          href="{% static 'assets/favicon/favicon.ico' %}" />
    <!-- same as before but different size, maybe both redundant (more modern way to implement exists) -->
    <link rel="icon"
          type="image/png"
          sizes="16x16"
          href="{% static 'assets/favicon/favicon.ico' %}" />
    <!-- manifest: again used to put webapp on homescreen as pseudo app, verify manifest file -->
    <link rel="manifest" href="{% static 'assets/favicon/site.webmanifest' %}" />
    <!-- overarching style, adapt content later -->
    <meta name="theme-color" content="#ffffff" />
    <script defer src="{% static 'js/third_party/alpine.min.js' %}"></script>


    <title>
      {% block title %}
        SustAgri
      {% endblock title %}
    </title>

    <link rel="stylesheet" href="{% static 'css/output.css' %}" />

    {% block head_block %}
    {% endblock head_block %}
  </head>

  <body>
    {{ redirect_to_login_immediately }}
    <!-- jQuery: potentially remove it later -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    {% block start_body_scripts %}{% endblock %}

    <!-- verify if documentation and link to it are correct -->
    {% url 'model_description' as documentation_url %}

    {% block navbar %}
      {% include "navbar.html" with user=user documentation_url=documentation_url %}
    {% endblock navbar %}

    {% block topology %}{% endblock topology %}
    {% block index %}{% endblock index %}
    <!-- modal to show debug messages, bootstrap, adapt to alpine or HTMX -->
    <div class="modal fade"
         id="messagesModal"
         tabindex="-1"
         role="dialog"
         aria-labelledby="messagesModalLabel"
         aria-hidden="true">
      <div class="modal-dialog" role="document">{% include 'messages.html' %}</div>
    </div>
    {% block content %}{% endblock content %}

    {% comment %}
    {% block footer %}
      <footer class="footer">
        <div>
          <div class="footer__logo">
            <img src="{% static 'assets/logos/PeopleSunLogo.png' %}"
                 alt="PeopleSun logo" />
          </div>
          <div class="footer__links">
            <ul>
              <li>
                <a href="{% url 'about' %}">{% translate "Contact" %}</a>
              </li>
              <li>
                <a href="{% url 'imprint' %}">{% translate "Imprint" %}</a>
              </li>
              <li>
                <a href="{% url 'privacy' %}">{% translate "Privacy" %}</a>
              </li>
              <li>
                <a href="https://github.com/rl-institut/django-offgridplanner">{% blocktranslate %} Version {{ APP_VERSION_NUMBER }} {% endblocktranslate %}</a>
              </li>
            </ul>
          </div>
        </div>
      </footer>
    {% endblock footer %}
    {% endcomment %}

    <!-- bootstrap will be removed -->
    <script src="{% static 'js/third_party/bootstrap.bundle.min.js' %}"></script>

    {% block end_body_scripts %}{% endblock %}

    <!-- javascript, check what it does -->
    <script src="{% static 'js/project.js' %}"></script>
    {% if messages %}
      <script>
        $(document).ready(function() {
          var messagesModal = new bootstrap.Modal(document.getElementById('messagesModal'))
          messagesModal.show();
        });
      </script>
    {% endif %}
  </body>
</html>

<!--
how to move on:
inspect child templates first, install alpine/HTMX second, migrate component-by-component, remove Bootstrap
then inspect the issues with the <footer>
-->
