{% extends "step_progression.html" %}

{% load tailwind_filters %}
{% load i18n %}

{% block progression_content %}

<h2>Project Information</h2>

<form method="post" id="project-information-form">
    {% csrf_token %}
    {{ form | crispy }}
</form>

{% endblock progression_content %}

{% block next_btn %}
    <button id="next-button"
            class="btn btn--medium"
            type="submit"
            form="project-information-form">
        {% translate "Next" %}
    </button>
{% endblock next_btn %}
