{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block head_block %}
{% endblock head_block %}

{% block start_body_scripts %}
{% endblock %}

{% block title %}{% translate "Projects" %}{% endblock title %}

{% block content %}

    <main>
        <section class="header">
            <div>
                <div class="header__left"></div>
                <h1 class="header__title">{% translate "My Projects" %}</h1>
                <div class="header__back"></div>
            </div>
        </section>

        <section class="projects-new">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" id="newProjectButton" data-bs-toggle="dropdown" aria-expanded="false">
                    {% translate "Create project" %}
                </button>
                <ul class="dropdown-menu" aria-labelledby="newProjectButton">
                    <li><a class="dropdown-item" href="{% url 'projects:project_create' %}">{% translate "Empty project" %}</a></li>
                </ul>
            </div>
        </section>


        {% for project in project_list %}

            <section class="{{ project }}" id="project-{{ project.id }}">
                <div>
                    <div class="project__top">
                        <a  href="{% url 'steps:project_information' project.id %}">
                            <h2 class="name">
                                {% if project.name %}
                                    {{ project.name }}
                                {% else %}
                                    {% translate "Unnamed" %}
                                {% endif %}
                            </h2>
                        </a>
                    </div>
                    <div class="project__details">
                        <div class="details">
                            <div class="detail">
                                <span class="detail__property">{% translate "Created" %}</span>
                                <span class="detail__value">{{ project.date_created }}</span>
                            </div>
                        </div>
                        <div class="actions">
													  <!-- project actions will go here -->
                        </div>
                    </div>
                </div>
            </section>


        {% empty %}
            <section class="projects-empty">
                <div>
                    <div class="projects-empty__img">
                        <img src="{% static 'images/empty_folder.svg' %}" alt="Empty folder">
                    </div>
                    <div class="projects-empty__text">
                        {% translate "There are no projects yet" %}
                    </div>
                </div>
            </section>

        {% endfor %}



    </main>

{% endblock content %}


{% block end_body_scripts %}

<script>
    (function () {
        var dropdownMenu;
        // show it and move it to the body
        $(window).on('show.bs.dropdown', function (e) {
            // grab the menu
            dropdownMenu = $(e.target).find('.dropdown-menu');
            // detach it and append it to the body
            $('body').append(dropdownMenu.detach());
            // grab the new offset position
            var eOffset = $(e.target).offset();
            // make sure to place it where it would normally go (this could be improved)
            dropdownMenu.css({
                'display': 'block',
                'top': eOffset.top + $(e.target).outerHeight(),
                'left': eOffset.left
            });
        });

        // and when you hide it, reattach the drop down, and hide it normally
        $(window).on('hide.bs.dropdown', function (e) {
            $(e.target).append(dropdownMenu.detach());
            dropdownMenu.hide();
        });
    })();
</script>

{% endblock end_body_scripts %}
